In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
df = pd.read_csv("tbl0.tsv", sep="\t")

q01.py

In [26]:
df.groupby(['_c1'])['_c1'].count()

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

q02.py

In [27]:
df.groupby('_c1').mean()['_c2']

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

q03.py

In [28]:
df.groupby('_c1').max()['_c2']

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

q04.py

In [111]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df1 = pd.read_csv("tbl1.tsv", sep="\t")
aux1 = df1.applymap(lambda s:s.upper() if type(s) == str else s)
aux = aux1['_c4'].unique()
aux1 = sorted(aux)
aux1

['A', 'B', 'C', 'D', 'E', 'F', 'G']

q05.py

In [14]:
df = pd.read_csv("tbl0.tsv", sep="\t")
df.groupby('_c1').sum()['_c2']

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

q06.py

In [ ]:
#Es el mismo q05.py

q07.py

In [95]:
df.loc[:,'suma'] = df.loc[:,'_c0'].add(df.loc[:,'_c2'])

q08.py

In [104]:
from datetime import datetime
from dateutil.parser import parse
import pandas as pd
df2 = df["_c3"]
df3 = str(df2)
df4 = datetime.strptime(df3, '%Y-%m-%d')
# df = pd.read_csv("tbl0.tsv", header=1, parse_dates = ['_c3'], dayfirst = False)
# df2 = df["_c3"]
# df3=df2.to_datetime(df["Date"],dayfirst = True)
# df3 = str(df2)
# dt3 = df3.datetime(dt3, '%Y-%m-%d')
# dt3
# dt3
# df3 = str(df2)
# df4 = df3.split('-')
# df.to_datetime(df5)

ValueError: time data '0     1999-02-28\n1     1999-10-28\n2     1998-05-02\n3     1999-08-28\n4     1999-12-01\n5     1998-07-28\n6     1997-02-28\n7     1999-05-10\n8     1997-04-12\n9     1999-11-23\n10    1998-01-17\n11    1998-12-28\n12    1999-10-15\n13    1998-11-01\n14    1999-08-12\n15    1997-12-01\n16    1997-07-28\n17    1998-08-12\n18    1999-08-24\n19    1998-01-23\n20    1999-06-22\n21    1999-04-24\n22    1999-06-25\n23    1999-08-25\n24    1997-07-26\n25    1997-09-24\n26    1997-09-28\n27    1999-06-22\n28    1999-07-29\n29    1999-08-22\n30    1998-04-26\n31    1998-02-24\n32    1999-03-24\n33    1998-03-23\n34    1999-04-21\n35    1999-02-29\n36    1997-05-21\n37    1997-07-22\n38    1999-09-28\n39    1998-01-26\nName: _c3, dtype: object' does not match format '%Y-%m-%d'

q09.py

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'